@model IEnumerable<SinistroApp.Models.GridHistoricoModel>

<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
    <table id="sns-datatable-hist-avisin" class="table table-striped table-bordered sns-datatable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Data Geração </th>
                <th>Valor </th>
                <th>Descrição </th>
                <th>Data Pagamento </th>
                <th>Pago </th>
                <th>Usuário </th>
                <th>Ação Judicial </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.dtGeracaoHist)</td>
                        <td>@Html.DisplayFor(modelItem => item.valorHist)</td>
                        <td>@Html.DisplayFor(modelItem => item.descHist)</td>
                        <td>@Html.DisplayFor(modelItem => item.dtPgHist)</td>
                        <td>@Html.DisplayFor(modelItem => item.stPg)</td>
                        <td>@Html.DisplayFor(modelItem => item.usuarioHist)</td>
                        <td>@Html.DisplayFor(modelItem => item.acaoJudicialHist)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>